{% extends "base.html" %}

{% block content %}
    <h1>Connexion</h1>
    <form method="post">
        <div>
            <label for="name">Prénom:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="birthdate">Date de naissance:</label>
            <input type="date" id="birthdate" name="birthdate" required>
        </div>
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>
    <p>Pas encore inscrit? <a href="{{ url_for('register') }}">Inscrivez-vous ici</a></p>
{% endblock %} 